.aboutCardBody {
    margin-top: 20vh;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color: var(--brown);
}

.aboutCardHeader {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20vh;
    transform: translateY(5vh);
    background: url('./../../public/assets/about-card-header-bg.svg');
    background-size: cover;
    background-position: center;
}

.aboutCardHeader h1 {
    font-family: 'Permanent Marker';
    font-weight: normal;
    filter: drop-shadow(2px 2px 4px var(--bg-blue));
    font-size: 45px;
    color: var(--brown);
}

.aboutCardBody .cardInfo {
    width: 100%;
    height: 40%;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.aboutCardBody .cardInfo img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgba(223, 217, 217, 0.445);
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
}

.aboutCardBody p {
    margin: 5vh 0;
    width: 70%;
    font-size: 23px;
    font-weight: normal;
    line-height: 40px;
    font-family: 'Gloria Hallelujah';
    color: var(--bg-blue);
}

.aboutCardBody .mobileIcons {
    margin-top: 15vh;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.aboutCardBody .mobileIcon  img {
    width: 7vw;
    max-width: 60px;
    min-width: 30px;
}

.aboutCardBody .mobileIcon{
    padding: 15px;
    border-radius: 20px;
    transition: 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutCardBody .mobileIcons a:hover {
    background-color: var(--bg-blue);
}

@media (min-width: 750px) {
    .aboutCardBody {
        background: url('./../../public/assets/about-bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutCardBody .cardInfo {
        width: 50%;
    }

    .aboutCardHeader {
        display: none;
    }

    .aboutCardBody .hoverIconsContainer{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: red;
        flex-direction: column;
    }

    .aboutCardBody .desktopHoverIcon {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        transition: 400ms;
        padding: 15px;
        border-radius: 10px;
    }

    .aboutCardBody .desktopHoverIcon img {
        width: 6vw;
        max-width: 60px;
    }

    .aboutCardBody .desktopHoverIcon .iconInfo {
        width: 100%;
        padding: 5px;
        height: 6vh;
        background-color: var(--blue-green);
        opacity: 0;
        transform: translateX(-5vw);
        margin-left: 20px;
        transition: 200ms;
        border-radius: 8px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutCardBody .desktopHoverIcon:hover {
        background-color: var(--bg-blue);
        box-shadow: 1px 1px 10px 2px rgb(156, 189, 233);

    }
    
    .aboutCardBody .desktopHoverIcon:hover .iconInfo {
        opacity: 1;
        transform: inherit;
    }


    .aboutCardBody .desktopHoverIcon .iconInfo a,
    .aboutCardBody .desktopHoverIcon .iconInfo strong{
        font-size: 20px;
        font-family: 'Gloria Hallelujah';
        font-weight: bold;
        color: var(--blue-dark);
    }
}