:root {
  --bg-blue: #D4F1F4;
  --blue-green: #75E6DA;
  --blue-medium: #189AB4;
  --blue-dark: #2f2e41;
  --blue-black: #3f3d56;
  --brown: #fb7f7f;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-blue);
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.no-mobile {
  display: none !important;
}

@media (min-width: 750px) {
  .no-desktop {
    display: none !important;
  }

  .no-mobile {
    display: block !important;
  }
}