.pageHeader {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.pageHeader div:first-of-type {
    width: 100%;
    background: url('../../public/assets/splash.svg');    
    height: 50vh;
    background-size: 80%;
    background-position: left -3vh;
    background-repeat: no-repeat;
}

.pageHeader h1 {
    font-size: 3.5rem;
    margin-left: 3vw;
    font-weight: normal;
    margin-top: 4vh;
    font-family: 'Permanent Marker', cursive;
    color: var(--blue-dark);
}

.pageHeader strong {
    font-weight: normal;
    margin-left: 3vw;
    margin-top: -1vh;
    font-size: 2rem;
    font-family: 'Caveat';
    color: var(--blue-medium);
}

.pageHeader div:last-of-type {
    display: none;
}

.pageHeader div:last-of-type img {
    display: none;
}

@media(min-width: 750px) {
    .pageHeader {
        display: grid;
        height: 70vh;
        grid-template-columns: 1fr 1fr;    
    }

    .pageHeader div:first-of-type {
        height: 70vh;
        background-size: 75%;
        background-position: left -7vh; 
    }

    .pageHeader div:last-of-type {
        height: 70vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        background: url('./../../public/assets/ellipse.svg');    
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: right -20px;
    }

    .pageHeader div:last-of-type img {
        display: block;
        width: 75%;
        max-width: 550px;
    }
}