.techsContainer {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.techsContainer button {
    width: 50vw;
    max-width: 250px;
    border-radius: 65px;
    padding: 10px 25px;
    margin: 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--brown);
    color: var(--bg-blue);
    font-size: 28px;
    font-family: 'Caveat';
    font-weight: bold;
    box-shadow: 1px 1px 10px 4px var(--blue-green);
}

.techsContainer button img {
    margin-top: 1.3vh;
    width: 7vw;
}